doctype html 
html 
 head 
    title  Usuarios 
 body 
   form(action="/sessions" method="POST")
      input(type="text" name="username" placeholder="username")
      input(type="password" name="password" placeholder="Contraseña") 
      button(type="sumbit" value="Iniciar Sesion") Iniciar Sesion